/* Put your CSS here */

body{
  background: url("/public/images/Background_2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight: bold;
  margin-top: 54px;
  margin-bottom: 54px;
}

h4{
  font-weight: bold;
}

header{
  background-color: #1f2532;
  margin-bottom: 0px;
  height: 50px;
  color: white;
}

.header{
  width: 1024px;
  height: 50px;
  padding-top: 8px;
  padding-left: 16px;
  margin: auto;
}

.title{
  margin-left: 60px;
}

.container{
  min-height: 100%;
  background-color: white;
  width: 1024px;
  margin: auto;
  padding: 0px;
}

.pokemonContainer{
  width: 100%;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.pokeSquare{
  height: 238px;
  width: 216px;
  margin: 6px;
  margin-top: 0px;
  margin-bottom: 60px;
  background-color: #F2F1F1;
  border-radius: 10px;
  display: inline-block;
}

.load{
  background-color: #4A90E2;
  border-radius: 10px;
  text-align: center;
  height:50px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.buttonCentre{
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.image{
  display: block;
  height: 195px;
}

.typeContainer{
  display:block;
  height: 22px;
  width: 100%;
}

.typeRight{
  text-transform: uppercase;
  border-radius: 10px 0px 10px 0px;
}

.typeLeft{
  text-transform: uppercase;
  border-radius: 0px 10px 0px 10px;
}

.bug{
  background-color: #A0DA5E;
  width: 108px;
  height: 22px;
  float: left;
  text-align: center;
}

.grass{
  background-color: #A0DA5E;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.poison{
  background-color: #BE93E7;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.fire{
  background-color: #E85B0E;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.water{
  background-color: #4A90E2;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.flying{
  background-color: #D8D8D8;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.normal{
  background-color: #D8D8D8;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

/*single pokemon page*/

.navContainer{
  display:block;
  height: 80px;
  width: 100%;
}

.leftNav{
  height: 80px;
  width: 510px;
  border-radius: 0px 0px 40px 0px;
  float: left;
  background-color: #606C78
}

.rightNav{
  height: 80px;
  width: 510px;
  border-radius: 0px 0px 0px 40px;
  float: right;
  padding-left: 50px;
  background-color: #606C78
}

.navTitle{
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.pokemonName{
  text-align: center;
  font-weight: normal;
  margin-top: 32px;
  margin-bottom: 32px;
}

.profile{
  height: 496px;
  width: 510px;
  margin: 0px;
  margin-left: 32px;
  margin-right: 32px;
  background-color: #F2F1F1;
  border-radius: 10px;
  display: inline-block;
}

.profileImage{
  display: block;
  height: 446px;
}


.profileTypeContainer{
  display:block;
  height: 50px;
  width: 100%;
}

.profileTypeRight{
  padding-top: 5px;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 10px 0px 10px 0px;
}

.profileTypeLeft{
  padding-top: 5px;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 0px 10px 0px 10px;
}
