/* Put your CSS here */

body{
  background: url("/public/images/Background_2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight: bold;
  margin-top: 54px;
  margin-bottom: 54px;
}

h3{
  margin:0px;
}

h4{
  font-weight: bold;
}

header{
  background-color: #1f2532;
  margin-bottom: 0px;
  height: 50px;
  color: white;
}

.header{
  width: 1024px;
  height: 50px;
  padding-top: 8px;
  padding-left: 16px;
  margin: auto;
}

.title{
  margin-left: 60px;
}

.container{
  min-height: 100vh;
  background-color: white;
  width: 1024px;
  margin: auto;
  padding: 0px;
}

.pokemonContainer{
  width: 100%;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.pokeSquare{
  height: 238px;
  width: 216px;
  margin: 6px;
  margin-top: 0px;
  margin-bottom: 60px;
  background-color: #F2F1F1;
  border-radius: 10px;
  display: inline-block;
}

.load{
  background-color: #4A90E2;
  border-radius: 10px;
  text-align: center;
  height:50px;
  width: 250px;
  margin: auto;
  padding-top: 15px;
  margin-bottom: 60px;
}

.buttonCentre{
  margin: 0px;
  text-align: center;
  vertical-align: middle;
}

.image{
  display: block;
  height: 185px;
}

.typeContainer{
  display:block;
  height: 22px;
  width: 100%;
}

.typeRight{
  text-transform: uppercase;
  border-radius: 10px 0px 10px 0px;
}

.typeLeft{
  text-transform: uppercase;
  border-radius: 0px 10px 0px 10px;
}

.bug{
  background-color: #A0DA5E;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.grass{
  background-color: #A0DA5E;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.poison{
  background-color: #BE93E7;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.fire{
  background-color: #E85B0E;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.water{
  background-color: #4A90E2;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.flying{
  background-color: #D8D8D8;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.normal{
  background-color: #D8D8D8;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.electric{
  background-color: #FFFF33;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.ground{
  background-color: #CC9966;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

/*single pokemon page*/

.navContainer{
  display:block;
  height: 80px;
  width: 100%;
}

.leftNav{
  height: 80px;
  width: 510px;
  border-radius: 0px 0px 40px 0px;
  float: left;
  background-color: #606C78
}

.rightNav{
  height: 80px;
  width: 510px;
  border-radius: 0px 0px 0px 40px;
  float: right;
  padding-left: 50px;
  background-color: #606C78
}

.navTitle{
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.pokemonName{
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.pokeId{
  padding-left: 6px;
  padding-top: 6px;
  text-align: left;
}

.profileContainer{
  height: 620px;
  width: 510px;
  margin: 0px;
  margin-left: 32px;
  margin-right: 32px;
  display: inline-block;
}

.profile{
  height: 496px;
  width: 100%;
  margin-bottom: 25px;
  background-color: #F2F1F1;
  border-radius: 10px;
  display: inline-flex;
}

.pokemonName > h1 {
  margin: 0px;
  display: inline-block;
}

.pokemonName span {
  font-size: 2em;
}

.pokeId > h4 {
  margin: 0px;
  display: inline-block;
}

.pokeId span {
  font-size: 18px;
}

.profileImage{
  display: block;
  height: 446px;
}


.profileTypeContainer{
  display:block;
  height: 50px;
  width: 100%;
}

.profileTypeRight{
  padding-top: 5px;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 10px 0px 10px 0px;
}

.profileTypeLeft{
  padding-top: 5px;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 0px 10px 0px 10px;
}


.summary > p {
  margin: 0px;
  font-size: 18px;
  display: inline-block;
}

.summary{
  width: 510px;
}

.statsContainer{
  height: 620px;
  width: 418px;
  margin: 0px;
  margin-bottom: 32px;
  vertical-align: top;
  display: inline-block;
}

.generalstats{
  height: 350px;
  width: 100%;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 10px;
  background-color: #4A90E2;
  display: inline-flex;
}

.baseStats{
  height: 250px;
  width: 100%;
  margin: right: 32px;
  border-radius: 10px;
  padding: 42px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #D8D8D8
}

.barchartContainer{
  width: 100%;
  height: 100%;
  margin-top: 8px;
  display: inline-block;
}

.barContainer{
  height: 100%;
  width: 56px;
  margin-right: 2.4px;
  display: inline-block;
  vertical-align: top;
}

.bar{
  height:116px;
  width:100%;
  background-color: white;
  position: relative;
}

.barKey{
  text-align: center;
  width:100%;
}

.barLevel{
  width: 100%;
  height: 25%;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #4A90E2;
  position: absolute;
  bottom: 0;
}

.leftStats{
  margin: 58px;
  margin-right: 80px;
}

.leftStats > p{
  margin: 0px;
  font-size: 24px;
  margin-bottom: 35px;
  text-transform: capitalize;
}

.leftStats > h3{
  margin: 0px;
  color: white;
}

.rightStats{
  margin: 58px;
  margin-left: 0px;
  float: right;
}

#ability{
  margin-bottom: 0px;
}

.movesContainer > h3{
  margin-left: 34px;
  margin-bottom: 20px;
}

.movesContainer{
  margin: 0px;
  padding-left: 1px;
  padding-right: 1px;
}

.movesColumn{
  width: 212px;
  height: 272px;
  margin-left: 34px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

.move{
  width: 100%;
  height: 36px;
  margin-bottom: 23px;
  border-radius: 10px;
  padding-top: 8px;
  text-align: center;
}

.move > p {
  font-size: 18px;
}

.explore{
  background-color: #E85B0E;
  color: black;
  border-radius: 10px;
  text-align: center;
  height:50px;
  width: 260px;
  padding-top: 15px;
  font-weight: bold;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
